* {
    /* font-family:Arial, Helvetica, sans-serif; */
}
.btn-buy {
    padding: 15px 20px;
    border-radius: 999px;
    background-image: linear-gradient(135deg, #0163ee, #f500fd);
}
.nav-form a {
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
#highlight-content h1 {
    font-size: 60px
}
#highlight-content p {
    font-size: 20px
}
#customer-content p{
    font-size: 20px;
}
.jumbotron {
    background-image: url(./images/background-img.png);
    background-position: center;
    background-size: cover;
}
#screenshot-img {
    width: 250px;
    padding: 5px;
    border: 2px solid rgb(202, 194, 194);
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(183, 194, 197);
}
#features-content i{
    color: #1a7aff;
}   
#price-content i{
    color: #1a7aff;
}   
#features-content p{
    font-size: 16px;
}
#features-content .col-sm-8{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
#features-content .col-sm-8 .row{
    margin-top: 40px;
}
.hr {
    width: 50px;
    height: 20px;
    border-bottom: 3px solid blue;
}
.card {
    margin: 0px 10px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 8px 8px 8px rgb(224, 230, 231);
}
h4:hover + div .card{
display: none;
}
.card:hover{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
}
#footer-content {
    margin-top: 100px;
}